<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe.imagePath"
      class="img-responsive"
      style="max-height: 300px"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <!--
  <div class="col-xs-12">
    <div class="btn-group open" appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"
        data-target="#dropdown"
        >
        Manage Recipe
      </button>
      <ul  class="dropdown-menu"  id="dropdown" role="menu">
        <li class="dropdown-item"><a style="cursor:pointer"  (click)="onAddToShoppingList()">To Shopping List</a></li>
        <li class="dropdown-item"><a href="#">Edit Recipe</a></li>
        <li class="dropdown-item"><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>-->
  <div ngbDropdown class="dropdown">
    <button
      ngbDropdownToggle
      class="btn btn-primary"
      type="button"
      id="dropdownMenuButton1"
      aria-expanded="false"
    >
      Manage Recipes
    </button>
    <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
      <li>
        <a
          ngbDropdownItem
          style="cursor: pointer"
          (click)="onAddToShoppingList()"
          >To ShoppingList</a
        >
      </li>
      <li><a ngbDropdownItem href="#">Edit Recipe</a></li>
      <li><a ngbDropdownItem href="#">Delete Recipe</a></li>
    </ul>
  </div>

  <div class="row">
    <div class="col-xs-12">
      {{ recipe.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let ingredient of recipe.ingredients"
        >
          {{ ingredient.name }}-{{ ingredient.amount }}
        </li>
      </ul>
    </div>
  </div>
</div>
